.page {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: -19px;
    display: flex;
    padding-bottom: 400px;
    user-select: none;
}

div:has(> .page) {
    background-color: #eae9e8;
    height: 100vh;

    /*display: flex;*/
}
.page img {
    height: 500px;   /* Đặt chiều cao của ảnh */
    width: auto;     /* Giữ tỷ lệ gốc */
}
