.update-content {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: "Cascadia Code", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

img {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    display: inline-flex;
    justify-items: end;
    align-items: end;
}

.update-content div {
    margin-bottom: 15px;
}

.update-content .username,
.update-content .email,
.update-content .password,
.update-content .name,
.update-content .address {
    display: flex;
    flex-direction: column;
}

.update-content label {
    margin-right: 10px;
}

.update-content input[type="text"] {
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.update-content input[type="email"],
.update-content input[type="password"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.update-content .gender label {
    margin-right: 10px;
    font-size: 10px;
}

.update-content button {
    padding: 10px 20px;
    border: none;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
}

.update-content button:hover {
    background-color: #0396A6;
    color: white;
}

.update-content button:last-child {
    padding: 10px 20px;
    border: none;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.update-content button:last-child:hover {
    background-color: #0396A6;
    color: white;
}

.update-content img:hover {
    background-color: white !important;
}

.update-content .gender-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.update-content .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-content .field input {
    flex-grow: 1;
    margin-right: 10px;
}

.update-content button {
    border: none;
    background: transparent;
    cursor: pointer;
    /*padding: 5px;*/
    width: auto;
    height: auto;
    display: table-column;
    justify-items: center;
    vertical-align: middle;
}
.update-content label {
    height: auto;
    width: 200px;

}
